* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #26a0da, #37505fda); 


}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #363945;
    font-size: 50px;
}

.item {
    text-align: center;
}


